html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

/* ------------------------- Cube ------------------------- */
@-moz-keyframes spinningH {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -moz-transform: rotateX(360deg) rotateY(360deg);
  }
}
@-webkit-keyframes spinningH {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}
@-o-keyframes spinningH {
  from {
    -o-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -o-transform: rotateX(360deg) rotateY(360deg);
  }
}
@-ms-keyframes spinningH {
  from {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -ms-transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.cHover {
  position: absolute;
  width: 100%;
  z-index: 9;
}

.cube {
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  -webkit-transition: -webkit-transform 2s linear;
  -moz-transition: -moz-transform 2s linear;
  -o-transition: -o-transform 2s linear;
  -ms-transition: -ms-transform 2s linear;
  transition: transform 2s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cube > div {
  position: absolute;
  height: 150px;
  width: 150px;
  padding: 20px;
  opacity: 1;
  background-position: center center;
}

.cube div:nth-child(1) {
  -webkit-transform: translateZ(70px);
  -moz-transform: translateZ(70px);
  -o-transform: translateZ(70px);
  -ms-transform: translateZ(70px);
  transform: translateZ(70px);
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: contain;
}

.cube div:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(70px);
  -moz-transform: rotateY(90deg) translateZ(70px);
  -o-transform: rotateY(90deg) translateZ(70px);
  -ms-transform: rotateY(90deg) translateZ(70px);
  transform: rotateY(90deg) translateZ(70px);
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: contain;
}

.cube div:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(70px) rotate(180deg);
  -moz-transform: rotateY(180deg) translateZ(70px) rotate(180deg);
  -o-transform: rotateY(180deg) translateZ(70px) rotate(180deg);
  -ms-transform: rotateY(180deg) translateZ(70px) rotate(180deg);
  transform: rotateY(180deg) translateZ(70px) rotate(180deg);
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: contain;
}

.cube div:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(70px);
  -moz-transform: rotateY(-90deg) translateZ(70px);
  -o-transform: rotateY(-90deg) translateZ(70px);
  -ms-transform: rotateY(-90deg) translateZ(70px);
  transform: rotateY(-90deg) translateZ(70px);
  background-color: #FFF;
  background-size: contain;
  background-repeat: no-repeat;
}

.cube div:nth-child(5) {
  -webkit-transform: rotateX(-90deg) translateZ(70px);
  -moz-transform: rotateX(-90deg) translateZ(70px);
  -o-transform: rotateX(-90deg) translateZ(70px);
  -ms-transform: rotateX(-90deg) translateZ(70px);
  transform: rotateX(-90deg) translateZ(70px);
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: contain;
}

.cube div:nth-child(6) {
  -webkit-transform: rotateX(90deg) translateZ(70px);
  -moz-transform: rotateX(90deg) translateZ(70px);
  -o-transform: rotateX(90deg) translateZ(70px);
  -ms-transform: rotateX(90deg) translateZ(70px);
  transform: rotateX(90deg) translateZ(70px);
  background-color: #FFF;
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
}

#webC div:nth-child(6) {
  background-image: url("../images/web2ico.png");
}

#webC div:nth-child(5) {
  background-image: url("../images/web3ico.png");
}

#webC div:nth-child(3) {
  background-image: url("../images/web4ico.png");
}

#webC div:nth-child(1) {
  background-image: url("../images/web1ico.png");
}

#appsC div:nth-child(6) {
  background-image: url("../images/interActive2ico.png");
}

#appsC div:nth-child(5) {
  background-image: url("../images/interActive3ico.png");
}

#appsC div:nth-child(3) {
  background-image: url("../images/interActive4ico.png");
}

#appsC div:nth-child(1) {
  background-image: url("../images/interActive1ico.png");
}

#devC div:nth-child(6) {
  background-image: url("../images/dev2ico.png");
}

#devC div:nth-child(5) {
  background-image: url("../images/dev3ico.png");
}

#devC div:nth-child(3) {
  background-image: url("../images/dev4ico.png");
}

#devC div:nth-child(1) {
  background-image: url("../images/dev1ico.png");
}

.maingPg {
  width: 100%;
  float: left;
  position: relative;
}

/* Image */
.image {
  position: relative;
  display: inline-block;
  border: 0;
  outline: 0;
}

/* Uncomment the block below if you want linked images to highlight on hover */
.image img {
  display: block;
  width: 100%;
}

.image.fit {
  display: block;
  width: 100%;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 4em 0;
}

.image.left {
  float: left;
  margin: 0 2em 2em 0;
}

.image.centered {
  display: block;
  margin: 0 0 2em 0;
}

.image.centered img {
  margin: 0 auto;
  width: auto;
}

/*
		.cube:hover{
		  transform: rotateY(-90deg);
		  -webkit-transform: rotateX(-90deg);
		}*/
/* ------------------------- Cube ------------------------- */
.carousel {
  position: relative;
  overflow: hidden;
  padding: 2em 0 2em 0;
  margin-bottom: 0;
}

.carousel .forward,
.carousel .backward {
  position: absolute;
  top: 50%;
  width: 6em;
  height: 12em;
  margin-top: -6em;
  cursor: pointer;
}

.carousel .forward {
  right: 0;
}

.carousel .backward {
  left: 0;
}

.carousel .forward:before,
.carousel .backward:before {
  content: '';
  display: block;
  width: 6em;
  height: 6em;
  border-radius: 100%;
  background-color: rgba(81, 149, 174, 0.5);
  position: absolute;
  top: 50%;
  margin-top: -3em;
  -moz-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
}

.carousel .forward:after,
.carousel .backward:after {
  content: '';
  width: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  margin: -1.5em 0 0 0;
  background: url("../images/arrow.svg") no-repeat center center;
}

.carousel .forward:after {
  right: -0.25em;
}

.carousel .backward:after {
  left: -0.25em;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.carousel .forward:before {
  right: -3em;
}

.carousel .backward:before {
  left: -3em;
}

.carousel .forward:hover:before,
.carousel .backward:hover:before {
  background-color: rgba(6, 35, 97, 0.75);
}

.carousel .reel {
  white-space: nowrap;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 0 2em 0 2em;
}

.carousel article {
  display: inline-block;
  width: 18em;
  background: #fff;
  text-align: center;
  padding: 0 1em 3em 1em;
  margin: 0 2em 0 0;
  white-space: normal;
  opacity: 1.0;
  -moz-transition: opacity 0.75s ease-in-out;
  -webkit-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  -ms-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.carousel article.loading {
  opacity: 0;
}

.carousel article .image {
  position: relative;
  left: -1em;
  top: 0;
  width: auto;
  margin-right: -2em;
  margin-bottom: 0px;
}

.carousel article p {
  text-align: center;
}

.caroselTouch {
  overflow-y: hidden;
  overflow-x: scroll;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?5pmkyq");
  src: url("../fonts/icomoon.eot?#iefix5pmkyq") format("embedded-opentype"), url("../fonts/icomoon.woff?5pmkyq") format("woff"), url("../fonts/icomoon.ttf?5pmkyq") format("truetype"), url("../fonts/icomoon.svg?5pmkyq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e608";
}

.icon-mail2:before {
  content: "\e609";
}

.icon-googleplus:before {
  content: "\e600";
}

.icon-googleplus2:before {
  content: "\e601";
}

.icon-twitter:before {
  content: "\e602";
}

.icon-twitter2:before {
  content: "\e603";
}

.icon-github:before {
  content: "\e604";
}

.icon-github2:before {
  content: "\e605";
}

.icon-wordpress:before {
  content: "\e607";
}

.icon-linkedin:before {
  content: "\e606";
}

.glitch {
  color: white;
  position: relative;
  width: 339px;
  margin: 0 auto;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(78px, 9999px, 66px, 0);
  }
  5% {
    clip: rect(29px, 9999px, 77px, 0);
  }
  10% {
    clip: rect(80px, 9999px, 36px, 0);
  }
  15.0% {
    clip: rect(28px, 9999px, 38px, 0);
  }
  20% {
    clip: rect(93px, 9999px, 11px, 0);
  }
  25% {
    clip: rect(92px, 9999px, 87px, 0);
  }
  30.0% {
    clip: rect(51px, 9999px, 96px, 0);
  }
  35% {
    clip: rect(34px, 9999px, 29px, 0);
  }
  40% {
    clip: rect(65px, 9999px, 81px, 0);
  }
  45% {
    clip: rect(44px, 9999px, 14px, 0);
  }
  50% {
    clip: rect(32px, 9999px, 65px, 0);
  }
  55.0% {
    clip: rect(63px, 9999px, 84px, 0);
  }
  60.0% {
    clip: rect(81px, 9999px, 54px, 0);
  }
  65% {
    clip: rect(3px, 9999px, 41px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(19px, 9999px, 3px, 0);
  }
  80% {
    clip: rect(4px, 9999px, 56px, 0);
  }
  85.0% {
    clip: rect(35px, 9999px, 56px, 0);
  }
  90% {
    clip: rect(23px, 9999px, 30px, 0);
  }
  95% {
    clip: rect(57px, 9999px, 89px, 0);
  }
  100% {
    clip: rect(60px, 9999px, 72px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(16px, 9999px, 69px, 0);
  }
  5% {
    clip: rect(60px, 9999px, 8px, 0);
  }
  10% {
    clip: rect(50px, 9999px, 87px, 0);
  }
  15.0% {
    clip: rect(78px, 9999px, 44px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 45px, 0);
  }
  25% {
    clip: rect(36px, 9999px, 20px, 0);
  }
  30.0% {
    clip: rect(28px, 9999px, 72px, 0);
  }
  35% {
    clip: rect(42px, 9999px, 100px, 0);
  }
  40% {
    clip: rect(100px, 9999px, 3px, 0);
  }
  45% {
    clip: rect(34px, 9999px, 78px, 0);
  }
  50% {
    clip: rect(10px, 9999px, 6px, 0);
  }
  55.0% {
    clip: rect(35px, 9999px, 68px, 0);
  }
  60.0% {
    clip: rect(56px, 9999px, 89px, 0);
  }
  65% {
    clip: rect(13px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(88px, 9999px, 63px, 0);
  }
  75% {
    clip: rect(46px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(64px, 9999px, 82px, 0);
  }
  85.0% {
    clip: rect(70px, 9999px, 45px, 0);
  }
  90% {
    clip: rect(11px, 9999px, 91px, 0);
  }
  95% {
    clip: rect(58px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(47px, 9999px, 74px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 3px 0 #ff0591;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.glitch2:before {
  left: 24px;
}

.glitch2:after {
  left: 24px;
}

@media screen and (max-device-width: 480px) {
  .glitch {
    width: 300px;
  }

  .glitch2:before {
    left: 5px;
  }

  .glitch2:after {
    left: 5px;
  }
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-collapse::after {
  content: 'open';
  display: none;
}

.collapse {
  height: 1px;
  max-height: 1px;
  transition-property: max-height;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
  overflow: hidden;
}

.open {
  height: auto !important;
  max-height: 400px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .navbar-collapse::after {
    content: 'collapsed';
    display: none;
  }

  .collapse {
    height: auto;
  }

  .container {
    width: 750px;
  }

  .navbar-nav > li > a {
    padding: 15px;
    line-height: 20px;
    float: left;
  }

  .navbar-nav > li {
    box-sizing: border-box;
    color: #333333;
    display: block;
    float: left;
    font-family: Oswald, sans-serif;
    font-size: 14px;
    height: 50px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    text-align: left;
  }
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

.navbar-header {
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  overflow: hidden;
  *zoom: 1;
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .form-control-static {
    display: inline-block;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }

  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
  color: #333;
}
.navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:hover, fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc;
}

.navbar-inverse {
  background-color: #222;
  border-color: #090909;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #090909;
}
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #090909;
  color: #fff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #090909;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #090909;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #090909;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:hover, fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.wrapper, .row {
  *zoom: 1;
}
.wrapper:before, .row:before, .wrapper:after, .row:after {
  content: " ";
  display: table;
}
.wrapper:after, .row:after {
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

/* Display Settings  */
.displayIBlock {
  display: inline-block;
}

.displayBlock {
  display: block;
}

.displayInline {
  display: inline;
}

.clearBoth {
  clear: both;
}

.display0 {
  display: none;
}

.positionAbsolute {
  position: absolute;
}

.positionRelative {
  position: relative;
}

.width10px {
  width: 10px;
}

.widthMax10px {
  max-width: 10px !important;
}

.height10px {
  height: 10px;
}

.minHeight10px {
  min-height: 10px;
}

.width20px {
  width: 20px;
}

.widthMax20px {
  max-width: 20px !important;
}

.height20px {
  height: 20px;
}

.minHeight20px {
  min-height: 20px;
}

.width30px {
  width: 30px;
}

.widthMax30px {
  max-width: 30px !important;
}

.height30px {
  height: 30px;
}

.minHeight30px {
  min-height: 30px;
}

.width40px {
  width: 40px;
}

.widthMax40px {
  max-width: 40px !important;
}

.height40px {
  height: 40px;
}

.minHeight40px {
  min-height: 40px;
}

.width50px {
  width: 50px;
}

.widthMax50px {
  max-width: 50px !important;
}

.height50px {
  height: 50px;
}

.minHeight50px {
  min-height: 50px;
}

.width60px {
  width: 60px;
}

.widthMax60px {
  max-width: 60px !important;
}

.height60px {
  height: 60px;
}

.minHeight60px {
  min-height: 60px;
}

.width70px {
  width: 70px;
}

.widthMax70px {
  max-width: 70px !important;
}

.height70px {
  height: 70px;
}

.minHeight70px {
  min-height: 70px;
}

.width80px {
  width: 80px;
}

.widthMax80px {
  max-width: 80px !important;
}

.height80px {
  height: 80px;
}

.minHeight80px {
  min-height: 80px;
}

.width90px {
  width: 90px;
}

.widthMax90px {
  max-width: 90px !important;
}

.height90px {
  height: 90px;
}

.minHeight90px {
  min-height: 90px;
}

.width100px {
  width: 100px;
}

.widthMax100px {
  max-width: 100px !important;
}

.height100px {
  height: 100px;
}

.minHeight100px {
  min-height: 100px;
}

.width110px {
  width: 110px;
}

.widthMax110px {
  max-width: 110px !important;
}

.height110px {
  height: 110px;
}

.minHeight110px {
  min-height: 110px;
}

.width120px {
  width: 120px;
}

.widthMax120px {
  max-width: 120px !important;
}

.height120px {
  height: 120px;
}

.minHeight120px {
  min-height: 120px;
}

.width130px {
  width: 130px;
}

.widthMax130px {
  max-width: 130px !important;
}

.height130px {
  height: 130px;
}

.minHeight130px {
  min-height: 130px;
}

.width140px {
  width: 140px;
}

.widthMax140px {
  max-width: 140px !important;
}

.height140px {
  height: 140px;
}

.minHeight140px {
  min-height: 140px;
}

.width150px {
  width: 150px;
}

.widthMax150px {
  max-width: 150px !important;
}

.height150px {
  height: 150px;
}

.minHeight150px {
  min-height: 150px;
}

.width160px {
  width: 160px;
}

.widthMax160px {
  max-width: 160px !important;
}

.height160px {
  height: 160px;
}

.minHeight160px {
  min-height: 160px;
}

.width170px {
  width: 170px;
}

.widthMax170px {
  max-width: 170px !important;
}

.height170px {
  height: 170px;
}

.minHeight170px {
  min-height: 170px;
}

.width180px {
  width: 180px;
}

.widthMax180px {
  max-width: 180px !important;
}

.height180px {
  height: 180px;
}

.minHeight180px {
  min-height: 180px;
}

.width190px {
  width: 190px;
}

.widthMax190px {
  max-width: 190px !important;
}

.height190px {
  height: 190px;
}

.minHeight190px {
  min-height: 190px;
}

.width200px {
  width: 200px;
}

.widthMax200px {
  max-width: 200px !important;
}

.height200px {
  height: 200px;
}

.minHeight200px {
  min-height: 200px;
}

.width210px {
  width: 210px;
}

.widthMax210px {
  max-width: 210px !important;
}

.height210px {
  height: 210px;
}

.minHeight210px {
  min-height: 210px;
}

.width220px {
  width: 220px;
}

.widthMax220px {
  max-width: 220px !important;
}

.height220px {
  height: 220px;
}

.minHeight220px {
  min-height: 220px;
}

.width230px {
  width: 230px;
}

.widthMax230px {
  max-width: 230px !important;
}

.height230px {
  height: 230px;
}

.minHeight230px {
  min-height: 230px;
}

.width240px {
  width: 240px;
}

.widthMax240px {
  max-width: 240px !important;
}

.height240px {
  height: 240px;
}

.minHeight240px {
  min-height: 240px;
}

.width250px {
  width: 250px;
}

.widthMax250px {
  max-width: 250px !important;
}

.height250px {
  height: 250px;
}

.minHeight250px {
  min-height: 250px;
}

.width260px {
  width: 260px;
}

.widthMax260px {
  max-width: 260px !important;
}

.height260px {
  height: 260px;
}

.minHeight260px {
  min-height: 260px;
}

.width270px {
  width: 270px;
}

.widthMax270px {
  max-width: 270px !important;
}

.height270px {
  height: 270px;
}

.minHeight270px {
  min-height: 270px;
}

.width280px {
  width: 280px;
}

.widthMax280px {
  max-width: 280px !important;
}

.height280px {
  height: 280px;
}

.minHeight280px {
  min-height: 280px;
}

.width290px {
  width: 290px;
}

.widthMax290px {
  max-width: 290px !important;
}

.height290px {
  height: 290px;
}

.minHeight290px {
  min-height: 290px;
}

.width300px {
  width: 300px;
}

.widthMax300px {
  max-width: 300px !important;
}

.height300px {
  height: 300px;
}

.minHeight300px {
  min-height: 300px;
}

.width310px {
  width: 310px;
}

.widthMax310px {
  max-width: 310px !important;
}

.height310px {
  height: 310px;
}

.minHeight310px {
  min-height: 310px;
}

.width320px {
  width: 320px;
}

.widthMax320px {
  max-width: 320px !important;
}

.height320px {
  height: 320px;
}

.minHeight320px {
  min-height: 320px;
}

.width330px {
  width: 330px;
}

.widthMax330px {
  max-width: 330px !important;
}

.height330px {
  height: 330px;
}

.minHeight330px {
  min-height: 330px;
}

.width340px {
  width: 340px;
}

.widthMax340px {
  max-width: 340px !important;
}

.height340px {
  height: 340px;
}

.minHeight340px {
  min-height: 340px;
}

.width350px {
  width: 350px;
}

.widthMax350px {
  max-width: 350px !important;
}

.height350px {
  height: 350px;
}

.minHeight350px {
  min-height: 350px;
}

.width360px {
  width: 360px;
}

.widthMax360px {
  max-width: 360px !important;
}

.height360px {
  height: 360px;
}

.minHeight360px {
  min-height: 360px;
}

.width370px {
  width: 370px;
}

.widthMax370px {
  max-width: 370px !important;
}

.height370px {
  height: 370px;
}

.minHeight370px {
  min-height: 370px;
}

.width380px {
  width: 380px;
}

.widthMax380px {
  max-width: 380px !important;
}

.height380px {
  height: 380px;
}

.minHeight380px {
  min-height: 380px;
}

.width390px {
  width: 390px;
}

.widthMax390px {
  max-width: 390px !important;
}

.height390px {
  height: 390px;
}

.minHeight390px {
  min-height: 390px;
}

.width400px {
  width: 400px;
}

.widthMax400px {
  max-width: 400px !important;
}

.height400px {
  height: 400px;
}

.minHeight400px {
  min-height: 400px;
}

.width410px {
  width: 410px;
}

.widthMax410px {
  max-width: 410px !important;
}

.height410px {
  height: 410px;
}

.minHeight410px {
  min-height: 410px;
}

.width420px {
  width: 420px;
}

.widthMax420px {
  max-width: 420px !important;
}

.height420px {
  height: 420px;
}

.minHeight420px {
  min-height: 420px;
}

.width430px {
  width: 430px;
}

.widthMax430px {
  max-width: 430px !important;
}

.height430px {
  height: 430px;
}

.minHeight430px {
  min-height: 430px;
}

.width440px {
  width: 440px;
}

.widthMax440px {
  max-width: 440px !important;
}

.height440px {
  height: 440px;
}

.minHeight440px {
  min-height: 440px;
}

.width450px {
  width: 450px;
}

.widthMax450px {
  max-width: 450px !important;
}

.height450px {
  height: 450px;
}

.minHeight450px {
  min-height: 450px;
}

.width460px {
  width: 460px;
}

.widthMax460px {
  max-width: 460px !important;
}

.height460px {
  height: 460px;
}

.minHeight460px {
  min-height: 460px;
}

.width470px {
  width: 470px;
}

.widthMax470px {
  max-width: 470px !important;
}

.height470px {
  height: 470px;
}

.minHeight470px {
  min-height: 470px;
}

.width480px {
  width: 480px;
}

.widthMax480px {
  max-width: 480px !important;
}

.height480px {
  height: 480px;
}

.minHeight480px {
  min-height: 480px;
}

.width490px {
  width: 490px;
}

.widthMax490px {
  max-width: 490px !important;
}

.height490px {
  height: 490px;
}

.minHeight490px {
  min-height: 490px;
}

.width500px {
  width: 500px;
}

.widthMax500px {
  max-width: 500px !important;
}

.height500px {
  height: 500px;
}

.minHeight500px {
  min-height: 500px;
}

.width510px {
  width: 510px;
}

.widthMax510px {
  max-width: 510px !important;
}

.height510px {
  height: 510px;
}

.minHeight510px {
  min-height: 510px;
}

.width520px {
  width: 520px;
}

.widthMax520px {
  max-width: 520px !important;
}

.height520px {
  height: 520px;
}

.minHeight520px {
  min-height: 520px;
}

.width530px {
  width: 530px;
}

.widthMax530px {
  max-width: 530px !important;
}

.height530px {
  height: 530px;
}

.minHeight530px {
  min-height: 530px;
}

.width540px {
  width: 540px;
}

.widthMax540px {
  max-width: 540px !important;
}

.height540px {
  height: 540px;
}

.minHeight540px {
  min-height: 540px;
}

.width550px {
  width: 550px;
}

.widthMax550px {
  max-width: 550px !important;
}

.height550px {
  height: 550px;
}

.minHeight550px {
  min-height: 550px;
}

.width560px {
  width: 560px;
}

.widthMax560px {
  max-width: 560px !important;
}

.height560px {
  height: 560px;
}

.minHeight560px {
  min-height: 560px;
}

.width570px {
  width: 570px;
}

.widthMax570px {
  max-width: 570px !important;
}

.height570px {
  height: 570px;
}

.minHeight570px {
  min-height: 570px;
}

.width580px {
  width: 580px;
}

.widthMax580px {
  max-width: 580px !important;
}

.height580px {
  height: 580px;
}

.minHeight580px {
  min-height: 580px;
}

.width590px {
  width: 590px;
}

.widthMax590px {
  max-width: 590px !important;
}

.height590px {
  height: 590px;
}

.minHeight590px {
  min-height: 590px;
}

.width600px {
  width: 600px;
}

.widthMax600px {
  max-width: 600px !important;
}

.height600px {
  height: 600px;
}

.minHeight600px {
  min-height: 600px;
}

.width610px {
  width: 610px;
}

.widthMax610px {
  max-width: 610px !important;
}

.height610px {
  height: 610px;
}

.minHeight610px {
  min-height: 610px;
}

.width620px {
  width: 620px;
}

.widthMax620px {
  max-width: 620px !important;
}

.height620px {
  height: 620px;
}

.minHeight620px {
  min-height: 620px;
}

.width630px {
  width: 630px;
}

.widthMax630px {
  max-width: 630px !important;
}

.height630px {
  height: 630px;
}

.minHeight630px {
  min-height: 630px;
}

.width640px {
  width: 640px;
}

.widthMax640px {
  max-width: 640px !important;
}

.height640px {
  height: 640px;
}

.minHeight640px {
  min-height: 640px;
}

.width650px {
  width: 650px;
}

.widthMax650px {
  max-width: 650px !important;
}

.height650px {
  height: 650px;
}

.minHeight650px {
  min-height: 650px;
}

.width660px {
  width: 660px;
}

.widthMax660px {
  max-width: 660px !important;
}

.height660px {
  height: 660px;
}

.minHeight660px {
  min-height: 660px;
}

.width670px {
  width: 670px;
}

.widthMax670px {
  max-width: 670px !important;
}

.height670px {
  height: 670px;
}

.minHeight670px {
  min-height: 670px;
}

.width680px {
  width: 680px;
}

.widthMax680px {
  max-width: 680px !important;
}

.height680px {
  height: 680px;
}

.minHeight680px {
  min-height: 680px;
}

.width690px {
  width: 690px;
}

.widthMax690px {
  max-width: 690px !important;
}

.height690px {
  height: 690px;
}

.minHeight690px {
  min-height: 690px;
}

.width700px {
  width: 700px;
}

.widthMax700px {
  max-width: 700px !important;
}

.height700px {
  height: 700px;
}

.minHeight700px {
  min-height: 700px;
}

.width710px {
  width: 710px;
}

.widthMax710px {
  max-width: 710px !important;
}

.height710px {
  height: 710px;
}

.minHeight710px {
  min-height: 710px;
}

.width720px {
  width: 720px;
}

.widthMax720px {
  max-width: 720px !important;
}

.height720px {
  height: 720px;
}

.minHeight720px {
  min-height: 720px;
}

.width730px {
  width: 730px;
}

.widthMax730px {
  max-width: 730px !important;
}

.height730px {
  height: 730px;
}

.minHeight730px {
  min-height: 730px;
}

.width740px {
  width: 740px;
}

.widthMax740px {
  max-width: 740px !important;
}

.height740px {
  height: 740px;
}

.minHeight740px {
  min-height: 740px;
}

.width750px {
  width: 750px;
}

.widthMax750px {
  max-width: 750px !important;
}

.height750px {
  height: 750px;
}

.minHeight750px {
  min-height: 750px;
}

.width760px {
  width: 760px;
}

.widthMax760px {
  max-width: 760px !important;
}

.height760px {
  height: 760px;
}

.minHeight760px {
  min-height: 760px;
}

.width770px {
  width: 770px;
}

.widthMax770px {
  max-width: 770px !important;
}

.height770px {
  height: 770px;
}

.minHeight770px {
  min-height: 770px;
}

.width780px {
  width: 780px;
}

.widthMax780px {
  max-width: 780px !important;
}

.height780px {
  height: 780px;
}

.minHeight780px {
  min-height: 780px;
}

.width790px {
  width: 790px;
}

.widthMax790px {
  max-width: 790px !important;
}

.height790px {
  height: 790px;
}

.minHeight790px {
  min-height: 790px;
}

.width800px {
  width: 800px;
}

.widthMax800px {
  max-width: 800px !important;
}

.height800px {
  height: 800px;
}

.minHeight800px {
  min-height: 800px;
}

.width810px {
  width: 810px;
}

.widthMax810px {
  max-width: 810px !important;
}

.height810px {
  height: 810px;
}

.minHeight810px {
  min-height: 810px;
}

.width820px {
  width: 820px;
}

.widthMax820px {
  max-width: 820px !important;
}

.height820px {
  height: 820px;
}

.minHeight820px {
  min-height: 820px;
}

.width830px {
  width: 830px;
}

.widthMax830px {
  max-width: 830px !important;
}

.height830px {
  height: 830px;
}

.minHeight830px {
  min-height: 830px;
}

.width840px {
  width: 840px;
}

.widthMax840px {
  max-width: 840px !important;
}

.height840px {
  height: 840px;
}

.minHeight840px {
  min-height: 840px;
}

.width850px {
  width: 850px;
}

.widthMax850px {
  max-width: 850px !important;
}

.height850px {
  height: 850px;
}

.minHeight850px {
  min-height: 850px;
}

.width860px {
  width: 860px;
}

.widthMax860px {
  max-width: 860px !important;
}

.height860px {
  height: 860px;
}

.minHeight860px {
  min-height: 860px;
}

.width870px {
  width: 870px;
}

.widthMax870px {
  max-width: 870px !important;
}

.height870px {
  height: 870px;
}

.minHeight870px {
  min-height: 870px;
}

.width880px {
  width: 880px;
}

.widthMax880px {
  max-width: 880px !important;
}

.height880px {
  height: 880px;
}

.minHeight880px {
  min-height: 880px;
}

.width890px {
  width: 890px;
}

.widthMax890px {
  max-width: 890px !important;
}

.height890px {
  height: 890px;
}

.minHeight890px {
  min-height: 890px;
}

.width900px {
  width: 900px;
}

.widthMax900px {
  max-width: 900px !important;
}

.height900px {
  height: 900px;
}

.minHeight900px {
  min-height: 900px;
}

.width910px {
  width: 910px;
}

.widthMax910px {
  max-width: 910px !important;
}

.height910px {
  height: 910px;
}

.minHeight910px {
  min-height: 910px;
}

.width920px {
  width: 920px;
}

.widthMax920px {
  max-width: 920px !important;
}

.height920px {
  height: 920px;
}

.minHeight920px {
  min-height: 920px;
}

.width930px {
  width: 930px;
}

.widthMax930px {
  max-width: 930px !important;
}

.height930px {
  height: 930px;
}

.minHeight930px {
  min-height: 930px;
}

.width940px {
  width: 940px;
}

.widthMax940px {
  max-width: 940px !important;
}

.height940px {
  height: 940px;
}

.minHeight940px {
  min-height: 940px;
}

.width950px {
  width: 950px;
}

.widthMax950px {
  max-width: 950px !important;
}

.height950px {
  height: 950px;
}

.minHeight950px {
  min-height: 950px;
}

.width960px {
  width: 960px;
}

.widthMax960px {
  max-width: 960px !important;
}

.height960px {
  height: 960px;
}

.minHeight960px {
  min-height: 960px;
}

.width970px {
  width: 970px;
}

.widthMax970px {
  max-width: 970px !important;
}

.height970px {
  height: 970px;
}

.minHeight970px {
  min-height: 970px;
}

.width980px {
  width: 980px;
}

.widthMax980px {
  max-width: 980px !important;
}

.height980px {
  height: 980px;
}

.minHeight980px {
  min-height: 980px;
}

.width990px {
  width: 990px;
}

.widthMax990px {
  max-width: 990px !important;
}

.height990px {
  height: 990px;
}

.minHeight990px {
  min-height: 990px;
}

.width100 {
  width: 100%;
}

.width95 {
  width: 95%;
}

.width90 {
  width: 90%;
}

.width85 {
  width: 85%;
}

.width80 {
  width: 80%;
}

.width75 {
  width: 75%;
}

.width70 {
  width: 70%;
}

.width65 {
  width: 65%;
}

.width60 {
  width: 60%;
}

.width55 {
  width: 55%;
}

.width50 {
  width: 50%;
}

.width45 {
  width: 45%;
}

.width40 {
  width: 40%;
}

.width35 {
  width: 35%;
}

.width30 {
  width: 30%;
}

.width25 {
  width: 25%;
}

.width20 {
  width: 20%;
}

.width15 {
  width: 15%;
}

.width10 {
  width: 10%;
}

.width5 {
  width: 5%;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media only screen and (min-width: 40em) {
  .wrapper {
    width: 95%;
    max-width: 65em;
  }

  .column-1 {
    width: 16.66667%;
  }

  .column-2 {
    width: 25%;
  }

  .column-3 {
    width: 33.33333%;
  }

  .column-4 {
    width: 41.66667%;
  }

  .column-5 {
    width: 50%;
  }

  .column-6 {
    width: 58.33333%;
  }

  .column-7 {
    width: 66.66667%;
  }

  .column-8 {
    width: 75%;
  }

  .column-9 {
    width: 83.33333%;
  }

  .column-10 {
    width: 91.66667%;
  }

  .column-11 {
    width: 100%;
  }
}
body,
.navbar {
  padding: 0px;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

h2,
h3,
h4,
.skillsTxt {
  text-shadow: -1.2px 0px 0 #09f19d, 1.2px 0px 0 #ff0591;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#contact,
.contactSection {
  background-color: #080808;
}

#contact a,
#contact a:active {
  text-decoration: none;
  display: inline-block;
}

.contactSection a:hover {
  color: #fff !important;
}

.contactSection {
  height: 200px;
}

.contactSection a {
  color: #fff;
}

.width100 {
  width: 100%;
}

.featImgTxtHeight {
  height: 206px;
}

.floatLeft {
  float: left;
}

.paddingSides10px {
  padding-left: 10px;
  padding-right: 10px;
}

.positionRelative {
  position: relative;
}

.positionAbsolute {
  position: absolute;
}

.txtCenter {
  text-align: center;
}

.whtTxt {
  color: #fff;
}

.bxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.navbar-wrapper {
  position: fixed;
  top: 0px;
  z-index: 999999;
  width: 100%;
}

.introTxt {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  color: #fff;
}

.contactTxt {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #fff;
}

.startArrow {
  opacity: 0;
  -webkit-appearance: none;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  background-color: rgba(64, 64, 64, 0.04706);
  background-image: url("../images/dark-arrow.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: solid 2px #fff;
  border-radius: 56px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 80px;
  line-height: 72px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  text-align: center;
  text-decoration: none solid white;
  text-indent: -160px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 80px;
}

.talentTxt {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  color: #fff;
  width: 100%;
  margin-top: 200px;
}

#home {
  /*background: #b6c4d0 url(/images/c9bg1A.jpg) 100%  100% fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 20px 0;
  min-height: 500px;
  overflow: hidden;
}

#about {
  /*background: url(/images/intro.png) 50% 0 fixed; */
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 100px 0;
}

#about a,
#about a:active {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

/*
.socIcons{
	position: absolute;
	z-index: 9;
}
*/
#about a:hover,
#contact a:hover {
  display: inline-block;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: #201B1B;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

#skills {
  background: url(../images/sc9bg2.jpg) 0px 0px fixed;
  background-size: cover;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 20px 0;
  min-height: 500px;
  overflow: hidden;
}

#visuals {
  background: url(../images/sc9bg3.jpg) 0px 0px fixed;
  background-size: cover;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 20px 0;
  min-height: 500px;
  overflow: hidden;
}

.skillsTxt {
  font-size: 36px;
  margin: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: inline-block;
  margin-bottom: 30px;
}

.skillTxtCnt {
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
}

#talent {
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 30px 0;
  z-index: 999;
}

.gpuNonFlickr {
  float: left;
  position: absolute;
  z-index: 9999999;
}

.hero-unit {
  background-color: #fff;
}

.media-object {
  width: 64px;
  height: 64px;
  padding-bottom: 30px;
}

.logo {
  opacity: 0;
  width: 125px;
  height: 125px;
  position: absolute;
  left: -200px;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10;
}

.logo img {
  width: 100%;
  height: 100%;
  float: left;
}

.filterAnimate {
  -webkit-animation: filterA .9s;
  animation: filterA .9s;
}

@-webkit-keyframes filterA {
  from {
    -webkit-filter: blur(3px);
  }
  to {
    -webkit-filter: blur(0px);
  }
}
@keyframes filterA {
  from {
    filter: blur(3px);
  }
  to {
    filter: blur(0px);
  }
}
@-moz-keyframes filterA {
  from {
    -moz-filter: blur(3px);
  }
  to {
    -moz-filter: blur(0px);
  }
}
